{
  "env": {
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "project": "./tsconfig.json"
  },
  "plugins": ["import", "@typescript-eslint"],
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    // No console [log/warn/error] allowed
    "no-console": "error",

    // Can throw literal objects
    "no-throw-literal": "off",
    "@typescript-eslint/no-throw-literal": "off",

    // Long line arrow functions can have linebreaks
    "implicit-arrow-linebreak": "off",

    // Can have linebreaks after operators
    "operator-linebreak": "off",

    // Lines between each class members is irritating
    "lines-between-class-members": "off",
    "@typescript-eslint/lines-between-class-members": "off",

    // Disable default exporting
    "import/prefer-default-export": "off"
  }
}
